<div id="page">
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body>
    <div class="container h-100 pad-t">
    <section id="homepage">
    <div class="container h-100">
      <div class="row ">
        <div class="col-12 text-center text-white ">
          <h3>
          Publish your passions, your way
          </h3>
          <p class="color-p">Create a unique and beautiful blog. It’s easy and free.
          </p>
          <a href="#" class="btn text-uppercase btn-success text-white  " role="button" aria-pressed="true">Start
          A Free Trial</a>


    </body>
</html>
</div>

