#adminpage{
    background-size: cover;
    padding-top: 60px;

    a{
        color: white ;
    }
     ul{
          justify-content: center;
         li{
             a{
                padding: 10px;
                line-height: 15px;
                color: black;
             }
         };
     }
}
 